<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	bootstrap="tests/phpunit/bootstrap-integration.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<php>
		<const name="W2M\Test\DB_NAME" value="" />
		<const name="W2M\Test\DB_USER" value="" />
		<const name="W2M\Test\DB_PASS" value="" />
		<const name="W2M\Test\DB_HOST" value="" />
		<const name="W2M\Test\TABLE_PREFIX" value="w2m_" />
	</php>
	<testsuites>
		<testsuite name="integration">
			<directory suffix="Test.php">tests/phpunit/Integration</directory>
		</testsuite>
	</testsuites>
</phpunit>