<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	bootstrap="vendor/autoload.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<php>
		<!--
			You can specify an absolute path (like /tmp/w2mtest) here (in
			your local copy phpunit.xml of this file).
			Default TMP_DIR is set internally to [sys_get_tmp_dir() . "/w2mtest"] when leaving
			this blank. Relative paths will NOT WORK here.
		-->
		<const name="W2M\Test\TMP_DIR" value="" />
	</php>

	<testsuites>
		<testsuite name="unit">
			<directory suffix="Test.php">tests/phpunit/Unit</directory>
		</testsuite>
		<testsuite name="integration">
			<directory suffix="Test.php">tests/phpunit/Integration</directory>
		</testsuite>
	</testsuites>
</phpunit>